<!-- Feed -->
<div class="bg-black w-full flex flex-col items-center justify-center ">
    <!-- Feeds -->
    <div class="max-w-screen ">
        <!-- Navb -->
        <div class=" mt-10 border md:hidden">
            <p class=" text-white font-bold"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.</p>
        </div>
        <!-- Feed -->
        <div class=" mt-10 border">
            <p class=" text-white font-bold"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.</p>
            <p class=" text-white font-bold"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.</p>
            <p class=" text-white font-bold"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.</p>
        </div>
        
        <!-- Navbar Bottom -->
        <div class=" mt-10 border md:hidden">
            <p class=" text-white font-bold"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.</p>
        </div>
    </div>



</div>