<!-- Feed -->
<div class="bg-black w-full flex flex-col items-center justify-center ">
	<!-- Feeds -->
	<div class="max-w-screen ">
		<!-- Navb -->
		<div class=" mt-10 md:border md:hidden">
			<p class=" text-white font-bold">
				 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
			</p>
		</div>
		<!-- Feed -->
		<div class="flex max-h-screen">
			<div class="w-full flex md:max-w-4xl">
				<!-- Sidebar-->
				<div id="AddHiddenOnMoblie" class="md:w-1/3 border border-l-slate-300">
					<div class="md:w-full bg-red-500 overflow-x-auto max-h-72 p-2">
						<p class=" text-white font-bold">
							Lnclass 
						</p>
						<p class=" text-white font-bold">
							 . Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
						</p>
						<p class=" text-white font-bold">
							  Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
						</p>
						<p class=" text-white font-bold">
							  Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
						</p>
						<p class=" text-white font-bold">
							  Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
						</p>
					</div>
					<div class="md:w-full bg-yellow-500">
						<p class=" text-white font-bold">
							Legal text Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
						</p>
					</div>
				</div>
				<!-- Main Feed-->
				<div class="w-full md:w-2/3 md:border md:overflow-auto">
					<div class="bg-red-500">
						<p class=" text-white font-bold">
							 Lnclass for Student.
						</p>
					</div>
					<div class="bg-green-500 p-2">
						<p class=" text-white font-bold">
							 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
						</p>
						<p class=" text-white font-bold">
							 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
						</p>
						<p class=" text-white font-bold">
							 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
						</p>
						<p class=" text-white font-bold">
							 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
						</p>
						<p class=" text-white font-bold">
							 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
						</p>
						<p class=" text-white font-bold">
							 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Navbar Bottom -->
		<div class=" mt-10 border md:hidden">
			<p class=" text-white font-bold">
				 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eius dolores, doloremque, assumenda sint placeat quae impedit modi, inventore aspernatur ducimus. Ex impedit sed eaque deleniti dolore voluptate obcaecati vitae.
			</p>
		</div>
	</div>
</div>
